<div class="updatePage">
  <div class="titleArea">
    <h2>アカウント編集 </h2>
  </div>

  <div class='container'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put },class: "mt-5, updateForm") do |f| %>

      <%= render 'layouts/error_messages', model: f.object %>
  
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "例)タスク太郎" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder: "PC・携帯どちらでも可" ,autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %> 

      <div class="form-group">
        <%= f.label :password %> 
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control", placeholder:"変更時のみ入力", autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class:"form-control", placeholder:"変更時のみ入力",autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class:"form-control", placeholder: "現在のパスワード入力", autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "変更する", class: "btn submitBtn" %>
      </div>
    <% end %>
  </div>
</div>

<div class="destroyPage">
  <div class='container'>
    <div class="actions">
      <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "アカウントを削除してもいいですか" }, method: :delete, class: "btn submitBtn" %>
    </div>
    <div class="actions">
      <%= link_to "トップページ", :root %>
    </div>
  </div>
</div>